<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspi Exporter</title>
</head>

<body>
    <h1>Raspi Exporter</h1>

    <h2>Metrics Endpoint for Prometheus</h2>
    <a href="/metrics">/metrics</a>

    <h2>Under Voltage Count</h2>
    <p>
        Undervoltage detected {{ under_voltage }} times after boot.
    </p>
</body>

</html>
